# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Internal packages dependencies
/packages/**/pubspec.lock

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# node
/node_modules

# dotenv
.env

# testing
/test/tmp

# coverage
/coverage

# database
/*.db
/*.db-shm
/*.db-wal

# Releasing
NEWVERSION.txt
SUMMARY.md
RELEASE_SUMMARY.txt
VERSION.txt
VERSION-NO-BUILD.txt

# Ubuntu snap
/*.snap
